<% layout('layouts/boilerplate')%>
    <div class="m-auto">
        <h1></h1>
        <div class="owl-carousel owl-theme">
            <% for (let vinyl of vinyls){ %>
                <div class="item border rounded">
                    <a href="/vinyls/<%= vinyl._id %> ">
                        <img src="<%= vinyl.image %> " alt="">
                    </a>
                </div>
                <% } %>
        </div>
    </div>